.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 24px 24px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.login:global(.__wab_instance):global(.__wab_instance) {
  align-self: flex-end;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  margin-bottom: 0px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.sandbox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  max-width: 60%;
  min-width: 0;
  flex-shrink: 0;
  padding: 68px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sandbox {
    height: 290px;
    max-width: 100%;
    padding-bottom: 0px;
    flex-shrink: 0;
  }
}
.network {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EiMaujwhg42lV);
  font-size: 24px;
  min-width: 0;
}
.address {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EiMaujwhg42lV);
  font-size: 24px;
  min-width: 0;
}
.balance {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EiMaujwhg42lV);
  font-size: 24px;
  min-width: 0;
}
.action:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xPxs7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  color: var(--token-EiMaujwhg42lV);
}
.svg__v6Meb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
